@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  font-family: 'Inter', sans-serif;
  /* overflow-x: hidden; */
 
}
#profile__img{
  width: 88px;
  height: 88px;
  border-radius: 275px;
  /* margin-left: 430px; */
  justify-items: center;
  text-align: center;
}
#twitter{
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.hiiih{
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
}
.dot{
  visibility: hidden;
}
.share{
  position: absolute;
  top: 50px;
  right: 350px;
}
.heading{
  padding: 20px 0;
  text-align: center;
  
}
#Slack{
  visibility: hidden;
}
button{
  width: 80%;
  height: 50px;
 margin-top: 20px;
 background-color: #F4F5F7;
 border: none;
}
a{
list-style:none;
text-decoration:none;
color: black;
}
.link{
margin-left: 200px;
}
.sociali{
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 80%;
  margin-left: 120px;
  margin-top: 50px;

}
.pictu{
  width: 132.13px;
height: 42px;

}







@media(max-width:890px) {
  body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
   
  }
  button{
    width: 90%;
    height: 50px;
   margin-top: 20px;
   background-color: #F4F5F7;
   border: none;
  }
  /* .hiiih{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
  } */
  .link{
    margin-left: 50px;
    }
    .social{
      display: flex;
      justify-content: center;
      align-items:center;
    
    }
    .sociali{
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; 
      width: 80%; 
      margin-left: 50px;
      gap: 2rem;
     }
     .dot{
      visibility: visible;
      /* position: absolute;
      top: 50px;
      right: 350px; */
    }
    .share{
        visibility: hidden;
    }
    #profile__img{
      width: 88px;
      height: 88px;
      border-radius: 275px;
      /* margin-left: 275px; */
    }

  
}


@media(max-width:480px) {
  body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
   
  }
  button{
    width: 90%;
    height: 50px;
   margin-top: 20px;
   background-color: #F4F5F7;
   border: none;
   margin: auto;
  }
  .link{
    margin-left: 50px;
    }
    .social{
      display: flex;
      justify-content: center;
      align-items:center;
     
    
    }
    .sociali{
      flex-direction: column;
      justify-content: center; 
      align-items: flex-start; 
      width: 80%;
      margin-left: 50px;
      gap: 2rem;
     }
     .dot{
      visibility: visible;
      /* position: absolute;
      left: 300px; */
    }
    .share{
        visibility: hidden;
    }
    #profile__img{
      width: 88px;
      height: 88px;
      border-radius: 275px;
      /* margin-left: 104px; */
    }
    .heading{
      padding: 20px 0;
      text-align: center;
      width: 80%;
      margin: auto;
    }
    /* .hiiih{
      display: flex;
      justify-content: center;
      align-items:center;
      position: relative;
    } */
} 
@media(max-width: 390px) {
  body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
   
  }
  button{
    width: 90%;
    height: 50px;
   margin-top: 20px;
   background-color: #F4F5F7;
   border: none;
  }
  .link{
    margin-left: 50px;
    }
    /* .hiiih{
      display: flex;
      justify-content: center;
      align-items:center;
      position: relative;
    } */
    .sociali{
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; 
      width: 80%;
      margin-left: 50px;
      gap: 2rem;
    
     }
     .dot{
      visibility: visible;
      /* position: absolute; */
      /* top: 50px;
      left: 219px; */
    }
    .share{
        visibility: hidden;
    }
    #profile__img{
      width: 88px;
      height: 88px;
      border-radius: 275px;
      /* margin-left: 102px; */
    }


@media(max-width: 320px) {
  body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
   
  }
  button{
    width: 90%;
    height: 50px;
   margin-top: 20px;
   background-color: #F4F5F7;
   border: none;
  }
  .link{
    margin-left: 50px;
    }
    .sociali{
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; 
      width: 80%;
      margin-left: 50px;
      gap: 2rem;
    
     }
     
    .share{
        visibility: hidden;
    }
    #profile__img{
      width: 88px;
      height: 88px;
      border-radius: 275px;
      /* margin-left: 89px; */
    }
    /* .hiiih{
      display: flex;
      justify-content: center;
      align-items:center;
      position: relative;
    } */
    .dot{
      visibility: visible;
      /* position: absolute;
      top: 48px;
      left: 200px; */
    }
}

}







